body {
    background-color: #CFF4FC;
    font-family: Arial, sans-serif; /* Fuente más legible */
    margin: 0;
    padding: 20px; /* Añadir espaciado alrededor */
}


/****************************************************************************
*                  Estilos del contenedor de busqueda                       *
****************************************************************************/

.contenedor-busqueda {
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #02a3d4;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.btn-eliminar {
    padding: 7px;
    margin: 10px;
    background-color: #0B5ED7;
    color: #ffffff;
    border-color: #0B5ED7;
    border-radius: 5px;
    font-weight: bold;
}

.btn-eliminar:hover {
    background-color: #0c4cd6;
    border-color: #0c4cd6;
    font-weight: bold;
}

.btn-volver {
    padding: 7px;
    margin: 10px;
    margin-top: 20px;
    background-color: #a4acb9;
    color: #ffffff;
    border-color: #a4acb9;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.btn-volver:hover {
    background-color: #a2a8b1;
    border-color: #a2a8b1;
    font-weight: bold;
}

input[type="text"] {
    margin-top: 5px;
    background-color: #F8F9FA;
    width: 35%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid black;
}

/*********************************************************
*                 Estilos resultados                     *
*********************************************************/

.contenedor-resultado {
    padding-top: 5px;
    padding-bottom: 3px;
}

.alert {
    margin: auto;
    padding: 1em;
    color: #fff;
    border-radius: 2px;
    margin-bottom: 10px;
    font-size: 14px;
    width: 40%;
    font-weight: bold;
}

.error {
    background: #F2DEDE;
    border: 1px solid #a94442;
    color: #a94442;
    border-radius: 5px;
}

.success {
    background: #4CAF50;
    border-radius: 5px;
}